  <%
    if (typeof page_meta != "undefined" && page_meta.type == 'page') {
      var classes = 'four-fifths';
    }
   else if(typeof page_meta != "undefined" && (page_meta.type == 'index' || page_meta.type == 'story')) {
   }
    else {
      var classes = 'two-fifths';
    }
  %>
  <footer id="footer" class="<%= classes %> float-right">
    <div class="wrapper">
      <%= t('Built by') %> <a href="http://flipside.org/">Flipside</a>, <%= t('using Express, Tilemill, Morris and ') %>
        <a href="/about#technology"><%= t('much more') %></a>.
      <br />
      <%= t('Data sources: ICNF & Igeo. Find out more') %> <a href="/data"><%= t('about the data') %></a>
      <br />
    </div>
  </footer>

