  <%
    if (typeof type != "undefined" && type == 'page') {
      var classes = 'four-fifths';
    }
    else {
      var classes = 'two-fifths';
    }
  %>
  <footer id="footer" class="<%= classes %>">
    <div class="wrapper">
      <%= t('Built by') %> <a href="http://flipside.org/">Flipside</a>, <%= t('using Express, Tilemill, Morris and ') %>
        <a href="/about#technology"><%= t('much more') %></a>.
      <br />
      <%= t('Data sources: ICNF & Igeo. Find out more') %> <a href="/data"><%= t('about the data') %></a>
      <br />
    </div>
  </footer>

