  <%
    if (typeof page_meta != "undefined" && page_meta.type == 'page') {
      var classes = 'four-fifths';
    }
    else {
      var classes = 'two-fifths';
    }
  %>
  <footer id="footer" class="<%= classes %> float-right">
    <div class="wrapper">
      <a href="http://flipside.org/"><img src="/images/flipside.png" alt="Logo Flipside" class="logo" /></a>
      <%= t('v0.1 was built using Express, Mapbox, Morris and ') %>
        <a href="<%= page_meta.lang %>/about"><%= t('much more') %></a>.
      <br />
      <%= t('Data sources: ICNF & Igeo. Find out more') %> <a href="<%= page_meta.lang %>/data"><%= t('about the data') %></a>
      <br />
    </div>
  </footer>

