<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" class="three-fifths"><div id="map" class="map"><!-- The map --></div></section>
  
  <aside id="sidebar" class="two-fifths">    
    <div class="wrapper">
      
      <header>
        <h1><%= title %> <small><%= type_verbose %></small>
        </h1>
        
        <!-- location breadcrumbs -->
        <%-partial('breadcrumbs') %>
        <!-- / location breadcrumbs -->
        
        <!-- verbose stats -->
        <% if (typeof verbose_statistics != "undefined" && verbose_statistics != null) { %>
          <p id="stats_verbose"><%= verbose_statistics %></p>
        <% } %>
        <!-- / verbose stats -->
          
      </header>
      
      <section>
        <!-- charts and stats -->
        <% if (typeof show_charts != "undefined" && show_charts) { %>
          <h2>Tipo de incêndio <small>por ano</small></h2>
          <div id="fires-year"><!-- Chart --></div>
          <h2>Área ardida <small>por ano</small></h2>
          <div id="burnt-area"><!-- Chart --></div>
        <% } %>
        <!-- / charts and stats -->
      </section>
      
    </div>
  </aside>
  
  
<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>