<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" data-aaid="<%= info.aaid %>" class="three-fifths float-left"><div id="map" class="map"><!-- The map --></div></section>

  <div class="map-legend legend-if-detailed-occurrence" style="display: none;">
    <div class="caption"><strong><%= t('Individual occurrences') %></strong><br/>
    <em><%= t('Size and color indicate amount of burnt area') %></em></div>
    <ul class="clearfix">
      <li style="background-color: #1abc9c;">&nbsp;</li>
      <li class="text"><%= t('False alarm') %></li>
      <li class="quarter">&nbsp;</li>
      <li class="quarter" style="background-color: #f1c40f;">&nbsp;</li>
      <li class="quarter" style="background-color: #e67e22;">&nbsp;</li>
      <li class="quarter" style="background-color: #c0392b;">&nbsp;</li>
      <li class="quarter" style="background-color: #782121;">&nbsp;</li>
      <li class="text"><%= t('Small - Big') %></li>
    </ul>
  </div>

  <aside id="sidebar" class="two-fifths float-right">
    <div class="wrapper">

      <header>
        <%-partial('structure/share_button') %>
        <h1><%= info.aa_name %> <small><%= t(info.geoadmindivision_name_raw) %></small></h1>

        <!-- location breadcrumbs -->
        <%-partial('breadcrumbs') %>
        <!-- / location breadcrumbs -->

        <!-- verbose stats -->
        <p id="stats-verbose">
        <% if (typeof show_charts != "undefined" && show_charts) { %>
          <% if (typeof stats != "undefined" && stats != null) { %>
            <%= tn(
              'Between 2001 and 2012, there was %d fire occurrence in %%s of %%s.',
              'Between 2001 and 2012, there were %d fire occurrences in %%s of %%s.',
              stats.occurrences,
              t('the ' + info.geoadmindivision_name_raw),
              info.aa_name
            ) %>
            <%= t(
              '%d was the year with severest fires, burning a total of %d hectares.',
              stats.top.year.year,
              stats.top.year.ha
            ) %>
            <%= t(
              'The biggest fire that started in %s occurred on %s, consuming %d hectares.',
              t('this ' + info.geoadmindivision_name_raw),
              stats.top.fire.date,
              stats.top.fire.ha
            ) %>
          <% } else { %>
            <%= t(
              'Congratulations, you just found the safest area in Portugal. Between 2001 and 2012 there were no fires here.'
            ) %>
          <% } %>
        <% } else { %>
          <%= t(
            'Sorry, but we do not have any data for %s.',
            t('this ' + info.geoadmindivision_name_raw)
          ) %>
        <% } %>
        </p>
        <!-- / verbose stats -->

        <!-- TEMP : download -->
        <div class="download">
          <a href="/<%= page_meta.lang %>/download/<%= info.aaid %>">
            <%= t('Download data') %>
          </a>
        </div>

        <div id="od-table" class="table">
        </div>
        <!-- / download -->

      </header>

      <section>
        <!-- charts and stats -->
        <% if (typeof show_charts != "undefined" && show_charts) { %>
          <h2><%= t('Type of fire') %> <small><%= t('by year') %></small></h2>
          <div id="fires-year"><!-- Chart --></div>
          <h2><%= t('Burnt area') %> <small><%= t('by year') %></small></h2>
          <div id="burnt-area"><!-- Chart --></div>
        <% } %>
        <!-- / charts and stats -->
      </section>

    </div>
  </aside>


<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>
