<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" class="two-fifths float-left"><div id="map" class="map"><!-- The map --></div></section>
  
  <div class="map-legend legend-if-detailed-heatmap" style="display: none;">
    <div class="caption"><strong>Number of occurrences</strong><br/>
    <em>Excluding false alarms</em></div>
    <ul class="clearfix">
      <li style="background-color: #f1c40f;">&nbsp;</li>
      <li style="background-color: #f39c12;">&nbsp;</li>
      <li style="background-color: #e67e22;">&nbsp;</li>
      <li style="background-color: #d35400;">&nbsp;</li>
      <li style="background-color: #b14600;">&nbsp;</li>
      <li style="background-color: #8f3900;">&nbsp;</li>
    </ul>
    <ul class="clearfix">
      <li class="first">0</li>
      <li>10</li>
      <li>50</li>
      <li>250</li>
      <li>750</li>
      <li>1500</li>
    </ul>
  </div>
  
  <aside id="sidebar" class="three-fifths float-right">    
    <div class="wrapper">
      
      <header>
        <%-partial('structure/share_button') %>
        <h1><%= title %></h1>
      </header>
      
      <!-- content -->
      <%- content %>
    
    </div>
  </aside>

<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>