<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" class="three-fifths"><div id="map" class="map"><!-- The map --></div></section>
  
  <aside id="sidebar" class="two-fifths">    
    <div class="wrapper">
      
      <header>
        <h1><%= title %></h1>
      </header>
      
      <section>
        
      </section>
      
    </div>
  </aside>
  
  
<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>