<%-partial('structure/html_start') %>

  <div class="container-fluid cf">
    <%-partial('structure/header') %>
    <div class="row-fluid">
      <div class="map-wrapper">
        <div id="map" class="span12 map"> <!-- Map --></div>
      </div>
      <div id="overlay" class="center-over span5">
        <div class="overview">
          <h2><%= title %></h2>
          <%= content %>
        </div>
      </div>
    </div>
  </div>

<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>