<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" class="one-fifths desktop float-left"><div id="map" class="map"><!-- The map --></div></section>
  
  <aside id="sidebar" class="four-fifths float-right">    
    <div class="wrapper">
        <%-partial('structure/share_button') %>
        <h1><%= title %></h1>
        <!-- Content -->
        <%= content %>
    </div>
  </aside>
  
  
<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>