<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" class="one-fifths desktop"><div id="map" class="map"><!-- The map --></div></section>
  
  <aside id="sidebar" class="four-fifths">    
    <div class="wrapper">
        <h1><%= title %></h1>
        <!-- Content -->
        <%= content %>
    </div>
  </aside>
  
  
<%-partial('structure/footer') %>
<%-partial('structure/html_end') %>