<%-partial('structure/html_start') %>
<%-partial('structure/header') %>

  <section id="map-container" class="three-fifths float-left"><div id="map" class="map"><!-- The map --></div></section>
  
  <aside id="sidebar" class="two-fifths float-right">    
    <div class="wrapper">
      
      <header>
        <%-partial('structure/share_button') %>
        <h1><%= title %></h1>
      </header>
      
      <section class="clearfix">
        <!-- content -->
        <%- content %>
      </section>
      
    </div>
  </aside>
  
<%-partial('structure/footer') %>

<script type="text/javascript">
  // Scripts for this page.
</script>

<%-partial('structure/html_end') %>