<%-partial('../structure/html_start') %>
<%-partial('../structure/header') %>
  
  <section id="sidebar">    
    <div class="wrapper">
        
      <header>
        <h1><%- t("Seems like something burnt out") %> <small><%- t("error 500") %></small></h1>
      </header>
      
      <section class="clearfix">
        <strong><%- t("While this is not fixed here's a curiosity:") %></strong><br>
        
        <p><%= content %></p>
      </section>        
        
    </div>
  </section>
  
<%-partial('../structure/footer') %>
<%-partial('../structure/html_end') %>