<%-partial('../structure/html_start') %>
<%-partial('../structure/header') %>
  
  <section id="sidebar">    
    <div class="wrapper">
        
      <header>
        <h1>Seems like something burnt out <small>error 500</small></h1>
      </header>
      
      <section class="clearfix">
        <strong>While this is not fixed here's a fun fact:</strong><br>
        
        <p><%= content %></p>
      </section>        
        
    </div>
  </section>
  
<%-partial('../structure/footer') %>
<%-partial('../structure/html_end') %>